body{
margin-left: auto;
margin-right: auto;
font-family: "Arial", san-serif;
color: 444444;
width: 80%;
text-align: left;
}

	
a:link {text-decoration: none; color: #D32027;}
a:visited {text-decoration: none; color: #D32027;}
a:hover {text-decoration: none; color: #444444;}